<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>React</title>
  </head>
  <body>
    <header class="header">
      <h1>Olá, Dev!</h1>
    </header>
    <main class="main">
      <h2>Entenda a diferença!</h2>

      <section class="section-container">
        <article class="section-column">
          <h3>Bibliotecas JS</h3>
          <ul>
            <li>ReactJS</li>
            <li>BCryptJS</li>
          </ul>
        </article>

        <article class="section-column">
          <h3>Frameworks JS</h3>
          <ul>
            <li>Next.JS</li>
            <li>Angular</li>
          </ul>
        </article>
      </section>
      <button id="signUp">
        <a href="/cadastro">Cadastre-se para saber mais!</a>
      </button>
    </main>
  </body>
</html>
